<%- model_class = Event -%>
<div class="page-header">
  <h1>イベント一覧</h1>
</div>

<h3>確定したイベント</h3>
<%= render :partial => 'table', locals: {events: @determined_events, type: :determined} %>

<h3>参加者のイベント</h3>
<%= render :partial => 'table', locals: {events: @created_events, type: :created} %>

<h3>参加者のイベント</h3>
<%= render :partial => 'table', locals: {events: @invited_events, type: :invited} %>

<%= link_to '新しいイベント', 
            new_user_event_path(current_user),
            :class => 'btn btn-primary' %>
