<h2>Your Event has applied</h2>

<ul>
  <li>
    Title: <%= @event.title %><br>
    Author: <%= @event.owner.email %><br>
    <% @event.users.each do |user| %>
    Participants: <%= user.email %><br>
    <% end %>
    </li>
</ul>
<br>
<br>
<%= link_to "Back to events", events_path %>

