<p>こんにちは <%= @resource.username %>!</p>

<p>パスワード変更のリクエストが来ています。以下のパスワードを変更をクリックしパスワードを変更してください。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに見入覚えのない場合、このメールを無視してください</p>
<p>上のリンクはあなたがアクセスしてパスワードを変更するまで有効です。</p>
